TOKEN=
GUILD_ID=
CLIENT_ID=
BGEN_CHANNEL_ID=*BOOSTER GENERATOR CHANNEL ID*
FGEN_CHANNEL_ID=*FREE GENERATOR CHANNEL ID*
VGEN_CHANNEL_ID=*VIP GENERATOR CHANNEL ID*
BAN_EMOJI_ID=*Use /loademoji Bot command to get Emoji ID*
BOOSTER_EMOJI_ID=*Use /loademoji Bot command to get Emoji ID*
VIP_EMOJI_ID=*Use /loademoji Bot command to get Emoji ID*
FREE_EMOJI_ID=*Use /loademoji Bot command to get Emoji ID*
NOTIFY_EMOJI_ID=*Use /loademoji Bot command to get Emoji ID*
WARNING_EMOJI_ID= *Use /loademoji Bot command to get Emoji ID*